
.sliderContainer {
    width: 50%;
    margin: auto;
    position: relative;
}

.sliderCards{
    height: 17vh;
    margin: 50px;
    list-style-type: none;
}

.sliderNav {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.sliderNav.next {
    right: -35%;
}


.sliderNav.prev {
    left: -35%;
}

@media (max-width: 700px) {
}