@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%)
    }

    50% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.g1 {
    top: calc(50% - 40rem /2);
    left: calc(50% - 30rem /2);
    mix-blend-mode: hard-light;

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;
}

.g2 {
    top: calc(50% - 40rem /2 + 200px);
    left: calc(50% - 40rem /2 + 500px);
    mix-blend-mode: hard-light;

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
}

.g3 {
    top: calc(50% - 40rem);
    left: calc(50% - 40rem);
    mix-blend-mode: hard-light;

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
}

.g4 {
    top: calc(50% - 20rem /3);
    left: calc(50% - 20rem *1.5);
    mix-blend-mode: hard-light;

    transform-origin: calc(50% - 300px);
    animation: moveInCircle 50s ease reverse infinite;
}

.maskFix {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}